 
  .text-singin {
    color: #D24726;
  }
  
  .btn-singin {
    background-color: #D24726;
    color: #fff !important;
  }
  
  .bg-sing {
    background: -webkit-linear-gradient(left, #D24726 50%, #fff 50%);
    background: -o-linear-gradient(left, #D24726 50%, #fff 50%);
    background: -moz-linear-gradient(left, #D24726 50%, #fff 50%);
    background: linear-gradient(to left, #D24726 50%, #fff 50%);
  }
  
  
  body, html {
    overflow-x: hidden;
  }
  
  @media (max-width: 767px) {
    
    .bg-sing {
      background: linear-gradient(to bottom, #D24726 50%, #fff 50%);
    }
  
  
    .col-md-6 {
      width: 100% !important;
      margin-bottom: 20px;
    }
  
    .mx-auto img-fluid {
      max-width: 30%; 
    }
  
    .text-singin {
      font-size: 18px;
    }
  
    .btn-singin {
      width: 100%; 
    }
    .img-fluid{
        width: 40% !important;
    }
  }